<p class="component-title">
  users.component.ts
</p>
<div>
  <p class="under-title">Get MySQL datas</p>
  <p class="path-title">From: php script</p>

  <mat-list>
    <mat-list-item *ngFor="let _userMysql of usersMysql">
      <mat-icon matListIcon>person</mat-icon>
      <p matLine>
        <span class="demo-2"> {{_userMysql.id}}. {{_userMysql.firstname}} {{_userMysql.lastname}}</span>
      </p>
    </mat-list-item>
  </mat-list>
  <hr>
  <p class="under-title">Get local JSON datas</p>
  <p class="path-title">From: app/assets/users.json</p>
  <mat-list>
    <mat-list-item *ngFor="let _userLocal of usersLocal">
      <mat-icon matListIcon>person</mat-icon>
      <p matLine>
        <span class="demo-2"> {{_userLocal.id}}. {{_userLocal.firstname}} {{_userLocal.lastname}}</span>
      </p>
    </mat-list-item>
  </mat-list>
  <hr>
  <p class="under-title">Get local Type-Text datas</p>
  <p class="path-title">From: app/assets/read.txt</p>
  <p>{{textLocal}}</p>
</div>
